<a href="https://colab.research.google.com/github/Ganapathi-tech/ganapathi-tech-Ganesh/blob/main/Stats_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
sd = np.random.randint(-10,100,(50))

In [ ]:
sd

array([36, 36,  8, -9, 37, -5, 36, 37, 59, 51, 18, 29, 19, 22, 15, 48,  7,
       53, 28, 20, -7, 16, 36, 60, 12, 67, 18, 21, 59, 51, 13, 54, 49, 58,
        5, 69,  5, 81, -8, 49, 47, 18, 62, 87, 19, -8,  4, 31, 69, 98])

In [ ]:
sd1 = pd.DataFrame(sd,columns=["A"])

In [ ]:
sd1

     A
0   36
1   36
2    8
3   -9
4   37
5   -5
6   36
7   37
8   59
9   51
10  18
11  29
12  19
13  22
14  15
15  48
16   7
17  53
18  28
19  20
20  -7
21  16
22  36
23  60
24  12
25  67
26  18
27  21
28  59
29  51
30  13
31  54
32  49
33  58
34   5
35  69
36   5
37  81
38  -8
39  49
40  47
41  18
42  62
43  87
44  19
45  -8
46   4
47  31
48  69
49  98

In [ ]:
d = sd1.describe()

In [ ]:
d

              A
count  50.00000
mean   33.60000
std    26.37717
min    -9.00000
25%    15.25000
50%    33.50000
75%    52.50000
max    98.00000

In [ ]:
IQR = d.loc["75%"] - d.loc["25%"]

In [ ]:
IQR

A    37.25
dtype: float64

In [ ]:
UP = d.loc["75%"] + 1.5*(IQR)

In [ ]:
UP

A    108.375
dtype: float64

In [ ]:
LL = d.loc["25%"] - 1.5*(IQR)

In [ ]:
LL

A   -40.625
dtype: float64

In [ ]:
sd1["A"][sd1["A"] > 158] = np.nan
sd1["A"][sd1["A"] < -58] = np.nan

In [ ]:
sd2 = np.random.randint(-70,200,(100))

In [ ]:
sd3 = pd.DataFrame(sd2,columns=["A"])

In [ ]:
sd3

      A
0   105
1    -8
2   188
3   152
4   153
..  ...
95   47
96  -70
97  169
98   44
99  177

[100 rows x 1 columns]

In [ ]:
sd3["A"][sd3["A"] > 158] = np.nan
sd3["A"][sd3["A"] < -58] = np.nan

In [ ]:
sd3

        A
0   105.0
1    -8.0
2     NaN
3   152.0
4   153.0
..    ...
95   47.0
96    NaN
97    NaN
98   44.0
99    NaN

[100 rows x 1 columns]