<a href="https://colab.research.google.com/github/Ganapathi-tech/ganapathi-tech-Ganesh/blob/main/SVM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
heart = pd.read_csv("heart.csv")

In [ ]:
heart.shape

(303, 14)

In [ ]:
heart.head()

   age  sex  cp  trestbps  chol  fbs  ...  exang  oldpeak  slope  ca  thal  target
0   63    1   3       145   233    1  ...      0      2.3      0   0     1       1
1   37    1   2       130   250    0  ...      0      3.5      0   0     2       1
2   41    0   1       130   204    0  ...      0      1.4      2   0     2       1
3   56    1   1       120   236    0  ...      0      0.8      2   0     2       1
4   57    0   0       120   354    0  ...      1      0.6      2   0     2       1

[5 rows x 14 columns]

In [ ]:
df_heart = heart.drop(["slope", "ca","thal"], axis = 1)

In [ ]:
df_heart.head()

   age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  target
0   63    1   3       145   233    1        0      150      0      2.3       1
1   37    1   2       130   250    0        1      187      0      3.5       1
2   41    0   1       130   204    0        0      172      0      1.4       1
3   56    1   1       120   236    0        1      178      0      0.8       1
4   57    0   0       120   354    0        1      163      1      0.6       1

In [ ]:
X = df_heart.drop("target", axis = 1)

In [ ]:
X

     age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak
0     63    1   3       145   233    1        0      150      0      2.3
1     37    1   2       130   250    0        1      187      0      3.5
2     41    0   1       130   204    0        0      172      0      1.4
3     56    1   1       120   236    0        1      178      0      0.8
4     57    0   0       120   354    0        1      163      1      0.6
..   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
298   57    0   0       140   241    0        1      123      1      0.2
299   45    1   3       110   264    0        1      132      0      1.2
300   68    1   0       144   193    1        1      141      0      3.4
301   57    1   0       130   131    0        1      115      1      1.2
302   57    0   1       130   236    0        0      174      0      0.0

[303 rows x 10 columns]

In [ ]:
y = df_heart[["target"]]

In [ ]:
y

     target
0         1
1         1
2         1
3         1
4         1
..      ...
298       0
299       0
300       0
301       0
302       0

[303 rows x 1 columns]

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
Xtrain, Xtest, ytrain, ytest = train_test_split(X,y, test_size = 0.20)

In [ ]:
print(Xtrain.shape)
print(Xtest.shape)
print(ytrain.shape)
print(ytest.shape)

(242, 10)
(61, 10)
(242, 1)
(61, 1)

In [ ]:
from sklearn.svm import SVC

In [ ]:
svm_class = SVC()

In [ ]:
svm_class.fit(Xtrain,ytrain)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [ ]:
svm_class.predict(Xtest)

array([1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0,
       1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1,
       1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0])

In [ ]:
svm_class.score(Xtest, ytest)

0.5737704918032787

# Kernel = "linear"
'linear', 'poly', 'rbf', 'sigmoid

In [ ]:
svm_linear = SVC(kernel = "linear")
svm_linear.fit(Xtrain,ytrain)
svm_linear.predict(Xtest)
svm_linear.score(Xtest, ytest)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.7868852459016393

## Kernel = "POLY"

In [ ]:
svm_poly = SVC(kernel = "poly", degree = 4)
svm_poly.fit(Xtrain,ytrain)
svm_poly.predict(Xtest)
svm_poly.score(Xtest, ytest)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.6557377049180327

# Kernel = "Sigmoid"

In [ ]:
svm_sigmoid = SVC(kernel = "sigmoid")
svm_sigmoid.fit(Xtrain,ytrain)
svm_sigmoid.predict(Xtest)
svm_sigmoid.score(Xtest, ytest)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.5245901639344263

## Standardization

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
sc = StandardScaler()

In [ ]:
sc

StandardScaler(copy=True, with_mean=True, with_std=True)

In [ ]:
sc.fit(Xtrain)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [ ]:
Xtrain_sc = sc.transform(Xtrain)

In [ ]:
Xtest_sc = sc.transform(Xtest)

In [ ]:
Xtrain_sc.shape

(242, 10)

In [ ]:
Xtest_sc.shape

(61, 10)

In [ ]:
svm_rbf = SVC(C=2.0, gamma = "auto" )
svm_rbf.fit(Xtrain_sc,ytrain)
svm_rbf.predict(Xtest_sc)
svm_rbf.score(Xtest_sc, ytest)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.8032786885245902

In [ ]:
svm_linear1 = SVC(kernel = "linear", gamma = "auto")
svm_linear1.fit(Xtrain_sc,ytrain)
svm_linear1.predict(Xtest_sc)
svm_linear1.score(Xtest_sc, ytest)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.7540983606557377

In [ ]:
svm_poly1 = SVC(kernel = "poly", degree = 5, gamma = "auto")
svm_poly1.fit(Xtrain_sc,ytrain)
svm_poly1.predict(Xtest_sc)
svm_poly1.score(Xtest_sc, ytest)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.7868852459016393

In [ ]:
svm_sigmoid1 = SVC(kernel = "sigmoid", gamma = "auto")
svm_sigmoid1.fit(Xtrain_sc,ytrain)
svm_sigmoid1.predict(Xtest_sc)
svm_sigmoid1.score(Xtest_sc, ytest)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.8032786885245902